.menu_button{
    -fx-background-radius: 0;
    -fx-background-color: #151b26;
    -fx-label-padding: 0 0 0 30;
    -fx-graphic-text-gap: 10;
}

.menu_button_hover {
    -fx-background-color: #273240;
    -fx-font-weight: bold;
}
