.login_button{
    -fx-background-color: #374652;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-font-size: 16;
    -fx-font-family: "Yu Gothic";
}

.login_button:hover{
    -fx-background-color: #6c7b82;
    -fx-font-weight: bold;
}
.login_button:pressed{
    -fx-background-color: #fae1ab;
    -fx-font-size: 16;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-font-family: "Yu Gothic";
}

.menu_button{
    -fx-background-radius: 0;
    -fx-background-color: #151b26;
    -fx-label-padding: 0 0 0 35;
    -fx-graphic-text-gap: 10;
    -fx-font-size: 16;
    -fx-font-weight: normal;
    -fx-font-family: "Yu Gothic";
}
.menu_button:hover {
    -fx-background-color: #273240;
    -fx-label-padding: 0 0 0 35;
    -fx-font-weight: bold;
}
.menu_button_pressed{
    -fx-label-padding: 0 0 0 35;
    -fx-background-color: #383d47;
    -fx-border-image-width: 0 10 0 0;
    -fx-graphic-text-gap: 10;
}

.logout_button{
    -fx-background-color: #9c171d;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-font-size: 16;
    -fx-font-weight: normal;
    -fx-font-family: "Yu Gothic";
}
.logout_button:hover {
    -fx-font-weight: bold;

}
.text-field {
    -fx-background-radius: 5;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-border-color: #1e7f78;
    -fx-border-width: 0 0 1 0;
    -fx-font-family: "Yu Gothic"; /* Шрифт */
    -fx-font-size: 14; /* Размер шрифта */
}

.text-field .text {
    -fx-fill: black; /* Цвет основного текста */
}

.text-field .text-field:prompt-text {
    -fx-fill: rgba(0, 0, 0, 0.4); /* Прозрачный текст prompt */
}

.custom-checkbox .box {
    -fx-background-color: #f0f6f6;
    -fx-border-color: #145a4e;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.custom-radio .radio {
    -fx-background-color: #f0f6f6;
    -fx-border-color: #145a4e;
    -fx-border-radius: 50%;
    -fx-padding: 2px; /* Уменьшаем padding */
    -fx-min-width: 10px; /* Минимальная ширина */
    -fx-min-height: 10px; /* Минимальная высота */
    -fx-pref-width: 12px; /* Предпочтительная ширина */
    -fx-pref-height: 12px; /* Предпочтительная высота */
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.2), 3, 0, 0, 1); /* Меньший тень */
}
.listCell{
    -fx-background-color: #fefefe;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cccccc;
}
.loader{
    -fx-background-color:  #f0f6f6;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.loader:selected {
    -fx-background-color:  #1e7f78;
}
.choice-box{
    -fx-font-size: 16;
    -fx-font-weight: normal;
    -fx-font-family: "Yu Gothic";
    -fx-background-color:  #f0f6f6;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #cccccc;
}

.chart{
    -fx-background-color:   #f0f6f6;
    -fx-font-size: 16;
    -fx-legend-visible: false;
    -fx-font-weight: normal;
    -fx-font-family: "Yu Gothic";
}
.default-color0.chart-series-line{
    -fx-stroke:  #343b57

}
.default-color1.chart-series-line{
    -fx-stroke:  #ffa397
}
.chart-plot-background {
    -fx-background-color: #fefefe;
}
.datePicker{
    -fx-font-weight: normal;
    -fx-font-family: "Yu Gothic";
    -fx-font-size: 16;
    -fx-background-color:    #7caea9;
}


.table-view {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-size: 14px;
    -fx-font-family: 'Yu Gothic Regular';
}

.table-view .column-header {
    -fx-background-color: #bfe1f2;
    -fx-border-color: #f0f6f6;
    -fx-text-fill: black;
}

.table-view .table-row-cell {
    -fx-border-color: #f0f6f6;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-border-color: #f0f6f6;
    -fx-border-width: 0 1px 0 1px;
}

.table-view .table-row-cell:filled {
    -fx-background-color: #fff;
    -fx-border-color: #f0f6f6;
}

.table-view .table-row-cell:hover {
    -fx-background-color: lightblue;
}

.table-view .table-row-cell:empty:hover {
    -fx-background-color: transparent;
}


